.wrapper {
  background-color: #fcfcf6 !important;
  color: #231f20;

  font-family: "Basier Circle", sans-serif;
}

.article_wrapper {
  margin: 0rem 6rem;
  max-width: 50rem;
}

.main_col {
  grid-row-start: 1;
}

@media screen and (min-device-width: 300px) and (max-device-width: 600px) {
  .article_wrapper {
    margin: 0rem 1.5rem;
  }
}

@media screen and (min-device-width: 1500px) {
  .article_wrapper {
    display: grid;
    grid-template-columns: 51rem auto;
  }

  .extra_col {
    min-width: 20rem;
    padding-left: 12rem;
    grid-column-start: 2;
  }
}
