@font-face {
	font-family: 'Basier Circle';
	src: url('../../fonts/basiercircle-regular-webfont.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Basier Circle';
	src: url('../../fonts/basiercircle-medium-webfont.woff2');
	font-weight: 500;
	font-style: medium;
}

@font-face {
	font-family: 'Basier Circle';
	src: url('../../fonts/basiercircle-semibold-webfont.woff2');
	font-weight: 600;
	font-style: semibold;
}


@font-face {
	font-family: 'Basier Circle Mono';
	src: url('../../fonts/basiercirclemono-regular-webfont.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Basier Circle Mono';
	src: url('../../fonts/basiercirclemono-medium-webfont.woff2');
	font-weight: 500;
	font-style: normal;
}

* {
  font-family: "Basier Circle", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.redAccent {
  color: #f49b7f;
}

.wrapper {
  /* background-color: #231F20; */
  background-color: #fcfcf6;
  /* padding: 1rem 3rem; */
  padding: 3rem 6rem;
  min-height: 100vh;
}

.fold {
  margin-top: 6rem;
  min-height: calc(100vh - 9rem);
}

.fold_header {
  font-weight: 500;
  font-size: 3rem;
}

.fold_sub {
  color: #75787D;
  margin-top: .5rem;
  margin-bottom: 3rem;

  font-weight: 400;
  font-size: 1.75rem;
}

/* Mobile */
@media screen and (min-device-width: 300px) and (max-device-width: 660px) {
  .wrapper {
    padding: 3rem 1.5rem;
  }

}

/* Tablet */
@media screen and (max-device-width: 300px) and (min-device-width: 660px) {

}