.wrapper {
  background-color: #fcfcf6 !important;
  color: #231F20;

  padding: 3rem 6rem;
  min-height: calc(100vh - 6rem);
}
  
.title {
  margin-top: 4rem;
  margin-bottom: 1.5rem;

  color: #377765;

  font-weight: 500;
  font-size: 3rem;
}

.essay_wrapper {
  padding-bottom: .3rem;
  margin-bottom: .5rem;
  max-width: 50rem;
  border-bottom: 1.5px solid #231F20;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.essay_wrapper h1 {
  color: #231f20;
  font-size: 1.85rem;
  font-weight: 500;
}

.essay_wrapper a:hover {
  text-decoration: none !important;
}
  
.essay_wrapper h1:hover {
  color: #377765;
}

.preview {
  max-width: 30rem;
}

.preview h2 {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
}

.metadata p {
  font-family: "Basier Circle Mono", monospace;
  margin-left: 2rem;
}

.metadata {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (min-device-width: 300px) and (max-device-width: 600px) {
  .wrapper {
    padding: 1rem 1.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .essay_wrapper {
    display: block;
  }

  .essay_wrapper h1 {
    font-size: 1.5rem;
  }

  .essay_wrapper h2 {
    display: none;
  }

  .metadata {
    justify-content: flex-start;
  }

  .metadata p {
    margin-top: .5rem;
    margin-left: 0rem;
    margin-right: 2rem;
  }
}
