.wrapper {
  margin: 2rem 0rem;
  max-width: 600px;
}

.wrapper h2 {
  font-family: "Basier Circle", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.wrapper ul {
  list-style-type: none;
}

.wrapper ol > li::before {
  content: "";
}

.wrapper ol {
  list-style-type: katakana;
  margin-left: 2.5rem;
}

.wrapper a {
  font-family: "Basier Circle Mono", monospace;
  font-size: 1rem;
  color: #231F20;
  text-decoration: none;
}

.wrapper li {
  margin-bottom: .25rem;
}

.wrapper a:hover {
  color: #F49B7F;
  color: #0A7DC2;
  text-decoration: none;
}


.wrapper hr {
  border: none;
  height: 1px;
  margin-top: .25rem;
  margin-bottom: .5rem;

  color: #231f20;
  background-color: #231f20;

}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .wrapper {
    display: block;
  }

  .wrapper h2 {
    font-size: 1.2rem;
  }

  .wrapper ol {
    margin-left: 2rem;
  }

  .wrapper a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 12rem auto;
  }

  .wrapper ol {
    margin-left: 0rem;
  }
}
