.wrapper {
  margin-bottom: 1.5rem;
}

.wrapper h1 {
  margin-top: 0;
  font-family: "Basier Circle", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.tag_box h3 {
  font-weight: 400;
  font-size: 1rem;
}

.num_box {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

.num_box h3 {
  color: #231f20;
  font-family: "Basier Circle Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .tag_box {
    padding-left: 0;
  }

  .tag_box h3 {
    font-size: .75rem;
  }

  .num_box {
    padding-right: 1.5rem;
  }

  .num_box h3 {
    font-size: .75rem;
  }

}
    
@media screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 10rem auto;
  }

}

