.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 2.5rem;

  color: #231f20;
}

.logo_box {
  display: flex;
  align-items: center;
	justify-content: center;
  flex-direction: row;
}

.logo_box p {
  font-family: "Basier Circle Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
}

.logo_box img {
  width: auto;
  height: auto;
  margin-right: 1.25rem;
}
  

.breadcrumbs {
  margin-left: 5rem;
}

.breadcrumbs a {
  color: #231f20;
	margin-left: 2rem;
  font-family: "Basier Circle", sans-serif;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
	.breadcrumbs {
		display: none;
  }
  
  .logo_box p {
    display: none;
  }
}
